body{
    background-image: url("../images/binding_dark_@2X.png");
}
div.jumbotron{
    background-image: url("../images/brickwall_@2X.png");
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
}
div.main{
    margin: auto;
    text-align: center;
    /* background-color: rgba(160, 177, 253, 0.5); */
    background-color: rgba(240, 248, 255, 0.5);
}
div.top, div.bot, div.gif-col{
    padding-top: 10px;
    padding-bottom: 10px;    
    text-align: center;
    margin: auto;    
}
div.top{
    background-color: rgba(129, 168, 144, 0.7);
}
div.bot{
    background-color: rgba(181, 196, 238, 0.7);
}
#resetButton{
    margin-top: 10px; 
    margin-bottom: 10px; 
}
img#gif{
    width: 300px;
    height: 200px;
    margin: 0;
}
#mOverRules{
    width: 30%;
    margin: auto;
    color: white;
    background-color: rgb(99, 124, 148);
    margin-bottom:5px;
}
div#rules-div p{
    width: 50%;
    margin: auto;
    margin-top:0px;
    margin-bottom:10px;
    border-style: dashed;
    border-color: black;
}
.title{
    font-family: 'Righteous', cursive;
}
p{
    font-family: 'Oswald', sans-serif;
}
@media only screen and (max-width: 700px){
    .main{
        width: 100%;
        margin: 0;
        padding: 0;
    }
}